{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<h1 class="wanted"><a href="/">This animal no longer exists </a></h1>
<article class="about">
  <h2>About</h2>
  <p>

  This website aims to alarm about <a href="https://en.wikipedia.org/wiki/The_Sixth_Extinction:_An_Unnatural_History">The Sixth Extinction</a> that is currently happening right under our eyes. We are right into the beginning of a historical accelerated, widespread mass extinction which is scientifically proven to be caused by human development.

  </p>
  <p>

  No machine learning, no big data, no blockchain, the title is a tongue in cheek joke about webpages such as <a href="https://thispersondoesnotexist.com">This person does not exist</a> or <a href="https://theselyricsdonotexist.com/">These Lyrics Do Not Exist</a>.

  </p>
  <p>

  The animals listed on this website are classified as <strong>Extinct</strong> or <strong>Extinct in the Wild</strong>. I understand that it can be a bit of a hyperbole saying that extinct in the wild animals no longer exist. I understand that there are <a href="https://en.wikipedia.org/wiki/Species_reintroduction">reintroduction programs</a> and some are very successful, but those are only a drop in the bucket in front of the massive drop in biodiversity we are currently living.

  </p>
  <p>

  The dataset used was downloaded from the <a href="https://www.iucnredlist.org/">IUCN Red List</a> website. 
  The images sources can be found by following the "Image credit" link. If you are the author or owner of one of the images and feel that you are not credited or want to remove the image, please contact me.
  </p>
  <p>

  This website is NOT affiliated with the IUCN Red List nor any of the image sources. Please consider donating to <a href="https://www.iucnredlist.org/support/donate">IUCN Red List</a>. <br />

  I am not a specialist, so if you notice any error or mistake, or want to contribute, please open an issue or pull-request on <a href="https://github.com/dimtion/thisanimalnolongerexists">Github</a>.

  </p>
  <p>Developed by <a href="https://github.com/dimtion">Dimtion</a> with ❤.</p>
</article>
{% endblock %}

